# Ignore node_modules directory
node_modules

# Ignore build output
# .next

# Ignore development files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore logs
*.log

# Ignore package manager lock files
# yarn.lock
# package-lock.json

# Ignore editor-specific files
.vscode
.idea
.git
.gitignore
.dockerignore

# Ignore test files
__tests__